<header>
    <nav>
        <!--div class="dropdown">
            <button>تقنية</button>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/posts">تقنية</a></li>
                <li><a href="{{ .Site.BaseURL }}/posts">تقنية</a></li>
            </ul>
        </div-->
        <div class="upperlink">
            <a href="{{ .Site.BaseURL }}/tech">تقنية</a>
            <a href="{{ .Site.BaseURL }}/weird">غرائب</a>
        </div>
        <img src="{{ .Site.BaseURL }}/img/logo.png">
    </nav>
</header>